
/* 171717  black */
/* 444444 gray */
/* DA0037 red*/
/* EDEDED  white*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
/* font-family: 'Poppins', sans-serif; */

.country-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 400px; 
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    border-radius: 25px;
    background-color: #171717;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 10px rgb(0 0 0 / 90%); 

}

.country-container h2 {
    color: #EDEDED;
    overflow: hidden;
    margin: 0;
}
.country-container img {
    max-width: 95%;
    box-shadow: 0 0 10px rgb(0 0 0 / 90%);

}

.country-container button {
    width: 95% ;
    border-radius: 25px;
    padding: 10px;
    color: #EDEDED;
    background-color: #DA0037;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border-color: #444444;
    margin-bottom: 10px;
}

.link-button {
    width: 100%;
}

